body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position:fixed;
  width:100%;
  z-index:9999;
  top: 0;
 
}

.logo img {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  /* gap: 20px; */
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}

.nav-links li {
  display: inline;
}

.nav-links select, .nav-links a {
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  color: black;
  border: none;
  background: none;
  cursor: pointer;
}

.nav-links select:hover, .nav-links a:hover {
  color: #007bff;
}

/* search-btn { */
  /* position: absolute; */
  /* top: 30px; */
  /* right: 0; */
/* } */
form {
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
}
.search-form label {
  position: relative;
}
.search-input {
  padding-left: 14px;
}
.search-input {
  height: 32px;
  border-radius: 20px;
  border: 1px solid #908e8e;
  width: 100%;
}
.search-form .search-submit {
  position: absolute;
  right: 10px;
  background: transparent;
  border: 0;
  top: -2px;
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .image_content {
      margin-top: 30px;
  }
}

@media (max-width: 1366px) {
  .image_content {
      padding-left: 5px;
      padding-right: 5px;
  }
}
.image_content {
  margin-bottom: 80px;
}
.section_container {
  max-width: 1253px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 768px) {
  .about_original_mc, .common_form_ui .form-group, .image_content_mc {
      display: block;
  }
}
.image_content_sc {
  padding-left: 20px;
  padding-right: 20px;
}
.image_content_tag {
  text-align: center;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
@media (max-width: 991px) {
  .image_content_tag span.spn_blk {
    line-height: 35px;
  }
}
.image_content_tag span.spn_blk {
  line-height: 45px;
}
@media (max-width: 991px) {
  .image_content_tag span {
      font-size: 20px;
  }
}
@media (max-width: 991px) {
  span.spn_blk {
      display: initial;
  }
}
@media (max-width: 991px) {
  .image_content_tag span>span {
      font-size: 30px;
  }
}
@media (max-width: 991px) {
  span.spn_blk {
      display: initial;
  }
}

@media (max-width: 991px) {
  .image_content_sc:last-child .tag_content {
      width: 75%;
      margin: 30px auto;
  }
}
.tag_content {
  padding: 40px 20px;
}
.tag_content, .middle_slider_content {
  border: 8px solid #ed1c24;
  /* padding: 60px 20px; */
  border-radius: 67px;
  position: relative;
  color: #00599c;
  font-size: 28px !important;
  text-align: center;
  font-family: 'Mellgatha';
  transition: all 1s ease;
}

.tag_content p, .middle_slider_content p {
  font-size: 28px;
  line-height: 32px;
}

.comma_font_change {
  font-family: 'Roboto';
}

.image_btm {
  width: 100%;
  line-height: 26px;
  margin: 76px auto 10px;
  font-size: 18px;
  font-family: 'Roboto';
  text-align: center;
}

@media (max-width: 991px) {
  .rd_mc p, p {
      font-size: 16px;
  }
}
/* card-1 */
.container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

.card-1 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  flex: 1 1 200px;
  max-width: 300px;
}

.card-1 img {
  width: 100%;
  height: auto;
}

.text {
  padding: 10px;
  background-color: #0056b3;
  color: white;
  font-size: 1.2em;
}

@media (max-width: 600px) {
  .container-2 {
      flex-direction: column;
      align-items: center;
  }
}


/* card */
.container-card {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 10px;
  margin-left:10px;
}
.card {
  background-color: #e0e0e0;
  padding: 20px;
  width: 25%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 0 15px; /* Add margin*/
}
.card img {
  width:100%;
  height:auto;
  margin-bottom: 15px;
}
.card p {
  /* margin:0px; */
  margin-top:0;
  word-wrap: break-word;

  /* margin-top:50px; */
  /* padding-top:40px; */
}
@media (max-width: 768px) {
  .card {
      width: 45%; /* Adjust width to fit two cards per row */
  }
}
@media (max-width: 480px) {
  .card {
      width: 90%; /* Adjust width to fit one card per row */
  }
}

@media (max-width: 768px) {
  .container-card {
      flex-direction: column; /* Change to column layout */
      align-items: center; /* Center align items in column layout */
  }
  .card {
      width: 80%; /* Adjust width for column layout */
      margin: 10px 0; /* Adjust margin for spacing in column layout */
  }
}


/*  */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.text-section {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.text-section p {
  font-size: 18px;
  margin: 10px 0;
}

.text-section .highlight {
  font-weight: bold;
  color: #003366;
}

.quote-section {
  flex: 1;
  padding: 20px;
  text-align: right;
  position: relative;
}

.quote-section blockquote {
  font-size: 24px;
  color: #003366;
  /* border-left: 5px solid #ff0000; */
  padding-left: 15px;
  position: relative;
}

.quote-section blockquote::before {
  content: open-quote;
  font-size: 4em;
  color: #003366;
  position: absolute;
  top: -20px;
  left: -20px;
}

.quote-section blockquote::after {
  content: close-quote;
  font-size: 4em;
  color: #003366;
  position: absolute;
  bottom: -20px;
  right: -20px;
}


.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger i {
  font-size: 24px;
}
.dropChild{
  display: none;
  margin-left:25px;
  margin-top:10px;
  background-color: #908e8e;
  width:165px;
  text-align: left;
  color:white;  
}
.dropDown{
  /* margin-left:3px; */
  margin-top:40px;
  margin-right: 40px;
  /* gap:10px;  */
}
/* .dropChild a{ */
  /* color:#fff; */
/* } */
.dropDown:hover .dropChild{
 display : block;
 position:absolute;
 top:40px;
}

@media screen and (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: white;
      position: absolute;
      top: 60px;
      left: 0;
      padding: 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

 
  .nav-links li {
      text-align: center;
      width: 100%;
  }

  .nav-links li select, .nav-links li a {
      display: block;
      width: 100%;
  }

  .hamburger {
      display: block;
  }
}

.header {
  text-align: center;
  background-color: #0077c8;
  color: white;
  padding: 10px 0;
}
.brands {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  text-align: center;
  width: 18%;
}

.brand img {
  width: 100%;
  max-width: 100px;
}
.content {
  padding: 20px;
  text-align: center;
}
.content h2{
  color:blue;
}
.content img {
  width: 100%;
  max-width: 200px;
  margin: 10px;
}
@media (max-width: 991px) {
  section {
      margin-top: 20px;
  }
}
.section_container {
  max-width: 1253px;
  margin: 0 auto;
  padding: 0 15px;
}
.section_title {
  text-align: center;
}

@media (max-width: 991px) {
  .section_title h4, .section_title h1 {
      padding: 6px 10px 6px;
  }
}
.section_title h4, .section_title h1 {
  background: #00599c;
  display: inline-block;
  padding: 4px 84px 6px;
  margin-bottom: 30px;
  border-radius: 30px;
  color: #fff;
  font-size: 30px;
  font-weight: 100;
  font-family: 'Roboto';
}
@media (max-width: 768px) {
  h4.hm_reynold_detail_content {
      text-align: center;
  }
}
h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

/*  footer secion */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
 p{
  font-size: 16px;
  font-family: sans-serif;
 }
.reynold-footer {
  background: #00599c;
  color: #fff;
  margin-top: 0;
  padding: 35px 0 20px;
  height:300px;
}
@media (max-width:700px){
   .reynold-footer{
    height:450px;
   }
}
.container{
  max-width: 1253px;
  margin: 0 auto;
  padding: 0 15px;
}
.footer-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Roboto';
  /* border-bottom: 2px solid #ed1c24; */
  padding-bottom: 20px;
}

.footer-subscribe{
  display:flex;
  
}
.footer-submain a{
  text-decoration: none;
  color:white;

}
.footer-submain li{
list-style-type: none;
}
.field-text{
  margin-top:30px;
}

.field a{
  color:white;
}
.email-text{
  height:32px;
}

/* .caption{ */
  /* display:inline; */
  /* background-color:red; */
  /* height: 52px; */
  /* border-radius: 2px; */
  /* font-size: 14px; */
  /* color: #fff; */
/*  */
/* } */
/* .footer-last p{ */
/* text-align:right; */
/* } */

.footer-submain .logo img{
  padding-right:0;
}
/* .email-text{
  height: 42px;
  border-radius: 2px;
  border: transparent;
  width: 75%;
} */

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid #e60000;
}

.footer-bottom p {
  margin: 0;
}

/* animation */
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
 }
 .animate_container{
  height:450px;
  width:100%;
  background-image: url("pen.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation-name: my_anime;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
 }
 @keyframes my_anime{
  0%{background-image:url("pen2.jpg");}
  10%{background-image:url("pen3.jpg");}
  20%{background-image: url("pen4.jpg");}
  30%{background-image: url("pen5.jpg");}
  40%{background-image:url("pen6.jpg");}
 }

 /* card-3 */
 .container-3{
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
}

.text-section {
  flex: 1;
}

h1 {
  font-size: 2em;
  margin: 0 0 10px;
}

.highlight {
  color: #007BFF; /* Highlight color for Reynolds */
}

p {
  margin: 0 0 10px;
  line-height: 1.5;
}

.image-section {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image {
  flex: 1 1 calc(50% - 10px);
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid #ccc;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .image {
    flex: 1 1 100%;
  }
}
/* slider*/

div{
  text-align: center;
}

.styled-heading {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #0057a0; /* Blue color */
  color: white;
  text-decoration: none;
  border-radius: 50px; /* Rounded corners */
  font-size: 1.5rem; /* Adjust font size as needed */
  font-weight: bold; /* Make the font bold */
  text-align: center;
}
.slider {
  width: 100%;
  /* max-width: 800px; */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  position: relative;
 
}

.slides {
  display: flex;
  width: 400%;
  /* height: 400px; */
  transition: transform 1s ease;
}
@media (max-width: 768px) {
  .slide img {
      height: 200px;
  }
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  transition: 0.6s ease;
}

.slide img {
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  height:500px;
}

.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40D3DC;
}

#radio1:checked ~ .slides {
  transform: translateX(0);
}

#radio2:checked ~ .slides {
  transform: translateX(-25%);
}

#radio3:checked ~ .slides {
  transform: translateX(-50%);
}

#radio4:checked ~ .slides {
  transform: translateX(-75%);
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 370px;
}

.navigation-auto div {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 0.4s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

.auto-btn1 {
  animation: autoSlide1 12s infinite;
}

.auto-btn2 {
  animation: autoSlide2 12s infinite;
}

.auto-btn3 {
  animation: autoSlide3 12s infinite;
}

.auto-btn4 {
  animation: autoSlide4 12s infinite;
}

@keyframes autoSlide1 {
  0%, 20% {
      background: #40D3DC;
  }
  25%, 100% {
      background: #fff;
  }
}

@keyframes autoSlide2 {
  0%, 25%, 45% {
      background: #fff;
  }
  50%, 70% {
      background: #40D3DC;
  }
  75%, 100% {
      background: #fff;
  }
}

@keyframes autoSlide3 {
  0%, 50%, 70% {
      background: #fff;
  }
  75%, 95% {
      background: #40D3DC;
  }
  100% {
      background: #fff;
  }
}

@keyframes autoSlide4 {
  0%, 75%, 95% {
      background: #fff;
  }
  100% {
      background: #40D3DC;
  }
}

.slides {
  animation: slide 16s infinite;
}

@keyframes slide {
  0%, 20% { transform: translateX(0); }
  25%, 45% { transform: translateX(-25%); }
  50%, 70% { transform: translateX(-50%); }
  75%, 95% { transform: translateX(-75%); }
  100% { transform: translateX(0); }
}
@media (max-width: 768px) {
  .slide img {
      height: auto;
  }

  .navigation-manual {
      margin-top: -30px;
  }

  .manual-btn {
      padding: 3px;
  }

  .navigation-auto {
      margin-top: -30px;
  }

  .navigation-auto div {
      padding: 3px;
  }
}


/*  */
/* snapshots */
header {
  text-align: center;
  margin: 1rem 0;
}
.first-heading {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #0057a0; /* Blue color */
  color: white;
  text-decoration: none;
  border-radius: 50px; /* Rounded corners */
  font-size: 1.5rem; /* Adjust font size as needed
  font-weight: bold; /* Make the font bold */
  text-align: center;
  margin-top:10px;
}

.product-showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.product {
  /* flex: 1 1 100%; */
  max-width: 100%;
  margin: 0.5rem;
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Optional: rounded corner
  /* align-items: center; */
  width: 250px;
  /* margin-left:10px; */
}

/* Media query for medium screens (two columns) */
@media (max-width: 750px) {
  .product {
      flex: 1 1 calc(50% - 1rem);
      max-width: calc(50% - 1rem);
  }
}

/* Media query for small screens (one column) */
@media (max-width: 480px) {
  .product {
      flex: 1 1 100%;
      max-width: 100%;
  }
}
h1{
  text-align: center;
}


/*  */

/* animation card */
div{
  text-align: center;
}

.styled-animate {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #0057a0; /* Blue color */
  color: white;
  text-decoration: none;
  border-radius: 50px; /* Rounded corners */
  font-size: 1.5rem; /* Adjust font size as needed */
  font-weight: bold; /* Make the font bold */
  text-align: center;
}
.container-animation {
  display: flex;
  width: 1100px;
  justify-content: space-between;
  margin-left:70px;
  
}
.image-box {
  position: relative;
  width: 250px;
  height: 350px;
  /* Adjust height to fit the content */
  margin: 10px;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.image-box:hover {
  transform: rotateY(180deg);
}
.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 0px 8px grey;
  border-radius: 5px;
}
.front {
  z-index: 2;
  transform: rotateY(0deg);
  background-color: #fff;
}
.back {
  transform: rotateY(180deg);
  background-color: #fff;
}
.image-box img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.image-box h2,
.image-box p {
  margin-top: 10px;
}
.image-box button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.image-box button:hover {
  background-color: #336ba7;
}
h2 {
  background-color: #336ba7;
  padding-top: 12px;
  height: 60px;
  width: 250px;
  /* text-align: center; */
  margin-top: 10px;
  /* text-align: end; */
  margin-top: 50px;
  position: absolute;
  bottom: 0;
  /* bottom: 0; */
  /* color: #fff; */
}
.back {
  background-color: #336ba7;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border: 2px solid green;
}
.space {
  width: 60px;
  height: 80%;
  background-color: #fff;
  margin-top: 50px;
}
.back p {
  color: #fff
}
@media (max-width:700px){
 .container-animation{
  flex-direction: column;
 }
}










